body {
    background-color: rgb(244, 231, 247);
}

#btn{
    display: flex;
    justify-content: center;
}


.center-form {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;  
  }

.logo-img {
    width: 150px;
    height: 150px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #002df5;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(255, 238, 0, 0.801), rgba(0, 17, 255, 0.719));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(255, 238, 0, 0.801), rgba(0, 17, 255, 0.719))
  }

